/*******************************************************************************
 * Base
 */

html {
  background-color: black;
  font: 16px Helvetica Neue;
  color: white;
}

a {
  color: white;
}

/*******************************************************************************
 * Components
 */

/* hero */

.hero {
  height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url("http://outofcommissionfilm.com/img/gallery/paint.jpg")
              no-repeat center center fixed;
}

/* logo */

.logo {
  display: block;
  margin: auto;
  max-width: 85%;
}

.logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
}

/* Nav */

nav {
  margin-top: 85vh;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Futura;
  font-size: 1.5em;
  line-height: 3em;
}

nav a + a {
  margin-left: 20px;
  line-height: 40px;
}

/* article */

article {
  width: 75%;
  margin: auto;
}

/* Abstract */

.Abstract {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: justify;
}

/* p */

p {
  margin-top: 0;
}

p + p {
  margin-top: 10px;
}

/*******************************************************************************
 * Utilities
 */

.centered-inline-content {
  text-align: center;
}
