---
name: index
layout: default
---

<article>
  <header>
    <div class=logo>
      <a href=/>
        <img alt="That 1 Painter, Austin, Texas" class=logo-image src=/img/logo.svg />
      </a>

      {% include address.html %}
    </div>
  </header>

  <nav class="inverted centered-inline-content">
    <a href="#contact">   &#9733; Contact</a>
    <a href="#services">  &#9733; Services</a>
    <a href="#reviews">   &#9733; Reviews</a>
  </nav>

  <section class="inverted abstract">
    <p>
    We are an Austin based painting company offering high quality professional
    work and a range of services in both residential and commercial fields.
    We work on everything from new construction to homes from the early 1900s.
    </p>

    <p>
    No job is too big or too small &mdash; we do it all! Our crew strives for
    perfection in everything. We provide excellent quality work while keeping
    the site clean and mess free.
    </p>

    <figure>
      <img alt="Owner and operator Steven Montgomery" src=/img/steven.jpg />

      <figcaption>
        Owner and operator Steven Montgomery
      </figcaption>
    </figure>
  </section>

  <section id=contact>
    <h2>Contact</h2>

    {% include address.html %}
  </section>

  <section id=services class=inverted>
    <h2>Services</h2>

    <p>
    With a decade of experience in the Austin area, we offer a range of
    services including:
    </p>

    <ul>
      <li>Interior painting</li>
      <li>Exterior painting</li>
      <li>Cabinet painting</li>
      <li>Wood staining</li>
      <li>Garage floor epoxy coatings</li>
      <li>Driveway cleaning</li>
      <li>Pressure washing</li>
      <li>Drywall repair</li>
      <li>Wall textures and floating</li>
    </ul>
  </section>

  <section id=reviews>
    <h2>Reviews</h2>

    <p>
    Check out some of <a href="{{ site.yelp }}">our reviews on Yelp</a>
    <i class=icon-yelp></i>
    </p>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      I'm very picky about who I choose to work on my house and Steven and his
      team were excellent.
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=bYgJQ5I9aNm3A4LiBxjX6w">
          Sherry K.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      Steven and his crew were really great to work with. They were able to
      paint our entire house within a very narrow window of time and
      accommodated all of my requests without complaint.
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=k-TCg1v05FruwFCYtj9lUw">
          Beth K.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      I had an excellent experience with Steven, and I would recommend him to a
      friend!
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=tFPehOHvRgNtMAlumf-PuQ">
          Aaron S.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      I'm very happy with the work That 1 Painter has done over the last few
      years.  Keep it up!
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=NkJVUSTq5gMHqZtk76_wvg">
          Kevin K.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      I HIGHLY recommend him and his team!  As budget allows I will be having
      him come back to do the rest of our new home!
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=miGSPX3rIBF1CHG1iCgsVg">
          Lisa L.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      Reasonable prices + great work = using this company again.
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=GSXzC2o_MbNLnlYB8HTMDQ">
          H M.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      I enjoyed working with him and highly recommend him for your projects. I
      will have him back for future paint jobs! Thanks!!
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=JGgRDz_6BcSvMqbWCnyz4g">
          Nancy W.
        </a>
      </cite>
    </blockquote>

    <blockquote>
      <i class=icon-quote-left></i>

      <p>
      My house looks great!  No more popcorn ceilings.  Steven worked with me
      to get the best look in each room and it turned out beautiful.  He was on
      time and at budget.  Couldn't ask for more.  Thank you Steven
      </p>

      <cite>
        <a href="http://www.yelp.com/biz/that-1-painter-austin?hrid=boOVua8UAB0igUZNmujnYg">
          S M.
        </a>
      </cite>
    </blockquote>
  </section>

  <footer class=inverted>
    <p>
      <small>
        &copy; {{ site.time | date: '%Y' }} That 1 Painter
      </small>
    </p>
  </footer>
</article>
