@import "normalize";
@import "fontello";

/*******************************************************************************
 * Variables
 */
$responsive-header-height: 85vh;
$fixed-header-height: 200px;
$sm-viewport: 640px;

$bg-color: black;
$color: white;

$header-font-family: Futura, Helvetica, Sans;

/*******************************************************************************
 * Base
 */

* {
  box-sizing: border-box;
}

html {
  background-color: $bg-color;
  color: $color;
}

a {
  color: $color;
}

/*******************************************************************************
 *
 * Typography
 *
 */

html {
  font: 24px Helvetica;
}

@media (max-width: $sm-viewport) {
  html {
    font-size: 16px;
  }
}

h2 {
  font-family: $header-font-family;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

/*******************************************************************************
 * Components
 */

/* header */

header {
  height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color;
  background: url("/img/paint.jpg") 0 0 / cover;
  display: table;
  width: 100%;
}

@media (max-width: $sm-viewport) {
  header {
    height: $fixed-header-height;
    background: url("/img/paint-$sm-viewport.jpg") 0 0 / cover;
  }
}

@media (max-width: 1440px) {
  header {
    background: url("/img/paint-1440px.jpg") 0 0 / cover;
  }
}

/* logo */

.logo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.logo-image {
  max-width: 85%;
}

@media (max-width: $sm-viewport) {
  .logo-image {
    position: static;
    max-width: 100%;
    max-height: $fixed-header-height;
    margin: auto;
  }
}

/* Nav */

nav {
  margin-top: 85vh;
  border-top: 1em solid $bg-color;
  border-bottom: 1em solid $bg-color;
}

@media (max-width: $sm-viewport) {
  nav {
    margin-top: $fixed-header-height;
  }
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: $header-font-family;
  line-height: 3em;
  color: $bg-color;
}

@media (max-width: $sm-viewport) {
  nav a {
    display: block;
    font-size: 1.5em;
  }
}

nav a + a {
  margin-left: 40px;
}

@media (max-width: $sm-viewport) {
  nav a + a {
    margin-left: initial;
  }
}

/* abstract */

.abstract {
  letter-spacing: 1px;
  text-align: justify;
}

.abstract p, .abstract figure {
  max-width: 600px;
}

.abstract img {
  border: 1em solid $bg-color;
  width: 100%;
}

/* article */

section > p, section > figure, section > ul, section > blockquote, footer > p {
  width: 75%;
  max-width: 600px;
  margin: auto;
}

@media (max-width: $sm-viewport) {
  section > p, section > figure, section > ul, section > blockquote, footer > p {
    width: initial;
    padding: .416em;
  }
}

/* p */

p {
  margin-top: 0;
  line-height: 1.1em;
}

p + p, p + figure, p + ul, p + blockquote, blockquote + blockquote {
  margin-top: .83em;
}

/* section */

section {
  padding: .83em 0;
}

section:first-child {
}

/* ul */

ul {
  line-height: 1.2em;
  list-style: none;
  padding-left: 1em;
}

li:before {
  content: '\22C6\A0';
  font-size: 2.5em;
  float: left;
}

/* address */

address {
  font-style: normal;
  font-size: 1.3em;
  text-align: center;
  font-family: $header-font-family;
}

@media (max-width: $sm-viewport) {
  address {
    font-size: 1em;
  }
}

address ul {
  margin: auto;
  text-align: left;
  display: inline-block;
  line-height: 2.5em;
}

address li:before {
  content: none;
}

address i {
  margin-right: 0.5em;
  float: left;
}

/* figure */

figcaption {
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}

/* blockquote */

blockquote cite {
  display: block;
  text-align: right;
  font-size: 0.7em;
}

blockquote cite:before {
  content: "\2014";
}

blockquote p {
  margin-bottom: .416em;
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

blockquote i {
  float: left;
  margin-right: 1em;
}

/* footer */

footer {
  padding: .83em 0;
}

footer p {
  text-align: right;
}

footer small {
  font-style: italic;
  font-size: .6em;
}

/*******************************************************************************
 * Utilities
 */

.centered-inline-content {
  text-align: center;
}

.inverted {
  background-color: $color;
  color: $bg-color;
}

.hidden {
  display: none;
}

