<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    {% if page.description %}
      <meta name=description content="{{ page.description }}">
    {% else %}
      <meta name=description content="{{ site.description }}">
    {% endif %}

    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel=stylesheet href=/css/style.css>

    {% if page.css %}
      <style>
        {{ page.css }}
      </style>
    {% endif %}
  </head>
  <body>

    {{ content }}

    <script>
    {% include js/ga.js %}
    </script>
  </body>
</html>

